body {
    background-color: lightslategray;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
}

.banner {
    width: 100%;
    max-height: 300px;
}

.card-title {
    padding: 15px;
}

.contentDiv {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.peru {
    float: left;
    margin-right: 5px;
}


.authorImage {
    float: left;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 1;
    right: 2px;
    bottom: 2px;
}




/* Stuart Post1 Styling */

.upcoming {
    /* display: inline-block;
    height: 200px;
    width: 200px; */
    background-color: #002649;
    border: 2px solid #FFC61E;
    color: white;
    font-weight: 700;
    max-width: 600px;
    border-radius: 10px;

}

.tickets {
    position: relative;
    left: 50px !important;
    top: 20px !important;
    height: 50px;
    width: 100px !important;
    background-color: #8C2633;
    color: #FFC61E;
    border-radius: 10px;

}

.tickets:hover {
    background-color: rgb(97, 26, 35);

}

.upcomingTitle {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    margin: 10px;
    

}

#photo1 {
    float: left;
    border: 2px solid #002649;
    margin: 10px;
   
}

#photo2 {
    float: right;
    border: 2px solid #002649;
    margin: 10px;
}

/* End Stuart Post 1 Styling */