img[id$="Img"] {
    width: auto;
    height: 400px;
}

    #map {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
}

    #graceImg {
    border-radius: 50%;
    margin: 60px;
    
    }

    #enginesImg {
    border-radius: 50%;
    margin:60px;
}

    #shuttleImg {
    border-radius: 50%;
    margin-bottom: 60px;
}

    #usImg {
    border-radius: 50%;
    margin-bottom: 70px;
}
