img[id$="Img"] {
    width: auto;
    height: 400px;
}

    #map {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
}

    #graceImg {
    border-radius: 50%;
    margin:10px;
    }

    #enginesImg {
    border-radius: 50%;
    margin:10px;
}

    #shuttleImg {
    border-radius: 50%;
    margin:10px;
}

    #clockImg {
    border-radius: 50%;
    margin:10px;
}

    #sunsetImg {
    border-radius: 50%;
    margin:10px;
}

    #usImg {
        border-radius: 50%;
    margin:10px;
}
